@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
body {  
  font-family: "Open Sans", sans-serif;
}

header h1 {  
  padding: 20px;
}

.container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 900px;
}

.card {
  padding: 1rem;
  margin: 2rem; 
  box-shadow: 0 0 10px rgba(93, 93, 93, 0.2);
  text-align: center;
  width: 350px;
  height: 100%;
}

.card-info { 
  text-align: left;
}

.btn-update {
  display: inline-block;
  margin: 0.3rem;
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;  
  border: 1px solid white;
  border-radius: 5px;
  vertical-align: middle;
}

.btn-update:hover {
  color: white;
  background-color: #aa043b;
  cursor: pointer;
}


.label {
  display: inline-block;
  color: white;
  padding: 8px;
  border-radius: 3px;
  margin:0.1rem;
  cursor: pointer;
}

.normal {
  background-color: #04AA6D;
} 

.normal path {
  fill: #04AA6D;  
}

.instable {
  background-color: #ff9800;
} 

.instable path {
  fill: #ff9800;
}

.stopped {
  background-color: #f44336;
} 

.stopped path{
  fill: #f44336;
} 

.contingency {
  background-color: #3528aa;
} 

.contingency path{
  fill: #3528aa;
} 


/* #svg-map path {
  fill: #b1267c;
} 

#svg-map .circle {
  fill: #ac26b1;
} */

#svg-map text {
  fill: #fff;
  font: 12px Arial-BoldMT, sans-serif;
  cursor: pointer;
}
#svg-map a {
  text-decoration: none;
}
#svg-map a:hover {
  cursor: pointer;
  text-decoration: none;
}
#svg-map a:hover path {
  fill: #4e4e4e !important;
}

#svg-map a:hover .circle {
    fill: #4e4e4e !important;
  cursor: pointer;
}

.modal {
  padding: 1em;
  max-width: 300px;
  border: 0;
  background-color: white;
  margin: auto;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}


.close__button {
  padding: 0.3rem;
  background-color: #464646;
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 700;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

.close__button:hover,
.close__button:focus {
  background-color: #000000;
  color: white;

}
